<% @page_title = "Profile" %>

<!-- NAV BAR -->
<nav class="nav">
  <ul class="nav-list">
      <li><%= link_to "Home", root_path %></li>&nbsp;&nbsp;<span id="nav-line">|</span>&nbsp;
      <li><%= link_to "Log Out", log_out_path %></li>&nbsp;&nbsp;<span id="nav-line">
  </ul>
</nav>

<div class="wrapper">
  <div class="left">
    <h2><%= @user.name %></h2>
  </div>
  <div class="right">
    <h2>Donated Wigs</h2>
    <div class="donated-wigs">

    </div>
  </div>
</div>
