// COLOR delcarations, don't use in style sheets
$white: #E8E5E7;
$light-grey: #D2D7D3;
$red: #E3000E;
$dark-red: #CF000F;
// Use both names, just incase
$grey: #2C3133;
$gray: #2C3133;

// Element variables

// Background colors
$body-bg-color: $grey;
$footer-bg-color: $white;
$nav-bg-color: $white;
$success-stories-bg-color: $white;
$success-sotry-bg-color: $grey;

// Text colors
$nav-text-color: $red;
$quote-color: $light-grey;
$text-body-color: $white;
$success-stories-text-color: $grey;
$success-story-name-color: $light-grey;
$success-sotry-text-color: $white;
$link-color: $red;
$link-hover-color: $light-grey;
$footer-text-color: $red;

// Button colors
$button-text-color: $red;
$button-text-hover-color: $grey;
$button-bg-color: $grey;
$button-bg-hover-color: $red;
$button-border-color: $red;

// Media Queries
$break-zero: 0px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 1140px;

// Fonts
$body-font: 'Caviar Dreams';
$body-bold-font: 'Caviar Dreams Bold';
$body-bold-italic-font: 'Caviar Dreams Bold Italic';
$body-italic-font: 'Caviar Dreams Italic';
