@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/CaviarDreams.ttf');
}
@font-face {
  font-family: 'Caviar Dreams Bold';
  src: url('../fonts/CaviarDreams_Bold.ttf');
}
@font-face {
  font-family: 'Caviar Dreams Bold Italic';
  src: url('../fonts/CaviarDreams_BoldItalic.ttf');
}
@font-face {
  font-family: 'Caviar Dreams Italic';
  src: url('../fonts/CaviarDreams_Italic.ttf');
}
