@font-face {
  font-family: 'Caviar Dreams';
  src: font-url('CaviarDreams.eot');
  src: font-url('CaviarDreams.eot?#iefix') format('embedded-opentype'),
       font-url('CaviarDreams.woff') format('woff'),
       font-url('CaviarDreams.ttf') format('truetype'),
       font-url('CaviarDreams.svg#webfont') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Caviar Dreams';
  src: font-url('CaviarDreams_Bold.eot');
  src: font-url('CaviarDreams_Bold.eot?#iefix') format('embedded-opentype'),
       font-url('CaviarDreams_Bold.woff') format('woff'),
       font-url('CaviarDreams_Bold.ttf') format('truetype'),
       font-url('CaviarDreams_Bold.svg#webfont') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Caviar Dreams';
  src: font-url('CaviarDreams_BoldItalic.eot');
  src: font-url('CaviarDreams_BoldItalic.eot?#iefix') format('embedded-opentype'),
       font-url('CaviarDreams_BoldItalic.woff') format('woff'),
       font-url('CaviarDreams_BoldItalic.ttf') format('truetype'),
       font-url('CaviarDreams_BoldItalic.svg#webfont') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Caviar Dreams';
  src: font-url('CaviarDreams_Italic.eot');
  src: font-url('CaviarDreams_Italic.eot?#iefix') format('embedded-opentype'),
       font-url('CaviarDreams_Italic.woff') format('woff'),
       font-url('CaviarDreams_Italic.ttf') format('truetype'),
       font-url('CaviarDreams_Italic.svg#webfont') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Campton';
  src: font-url('Campton-LightDEMO.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Campton';
  src: font-url('Campton-BoldDEMO.otf');
  font-weight: 700;
  font-style: normal;
}
