@import '_variables';

body {
  background-color: $body-bg-color;
  color: $text-body-color;
  font-family: $body-font;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}
