@import '_variables';

// Prevent blue outline on all focused elements
*:focus {
    outline: 0;
}

body {
  // background-color: $body-bg-color;
  background-image: image-url("graybgedit.png");
  color: $text-body-color;
  font-family: $body-font;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.wrapper {
  margin-top: 8em;
  width: 100%;
}

h1 {
  color: $text-body-color;
  font-size: 3em;
  .name-red {
    color: $nav-bg-color;
  }
}

.left {
  width: 50%;
  float: left;
}
.right {
  width: 50%;
  float: left;
}

.one-third {
  width: 33%;
  float: left;
}
.two-thirds {
  width: 66%;
  float: left;
}

.button {
  border: 1px solid $nav-bg-color;
  border-radius: 4px;
  padding: 1.1em 1em 1em 1em;
}
.button:hover {
  border: 1px solid $text-body-color;
}

// Profile page

.profile {
  width: 75%;
  margin: 8em auto 2em auto;
}

.donated-wigs {
  padding: 0;
  width: 100%;
  table {
    margin: 0 auto 2em auto;
    width: 70%;
    padding: 1em 10% 1em 20%;
    border: 1px solid $nav-bg-color;
    border-radius: 4px;
    td {
      width: 50%;
    }
  }
}

// Home page

.home {
  div {
    padding-bottom: 1em;
    width: 50%;
    margin: 0 auto;
  }
  h2 {
    padding-bottom: 1em;
  }
  table {
    margin: 0 auto 2em auto;
    padding: 1em;
    border: 1px solid $nav-bg-color;
    border-radius: 4px;
    width: 90%;
    td {
      width: 50%;
    }
  }
}

// Show wig view

.new-wig {
  width: 25%;
  margin: 0 auto 3em auto;
  border: 1px solid $nav-bg-color;
  border-radius: 4px;
  table {
    margin: 0 auto;
    padding: 2em 0;
  }
}

// Browse wigs

.browse-wigs {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 1em;
  display: block;
  .button {
    float: left;
    margin: 12.5% 5% 0 5%;
  }
  table {
    margin: 0 0 2em 0;
    padding: 1em;
    border: 1px solid $nav-bg-color;
    border-radius: 4px;
    width: 50%;
    td {
      width: 50%;
    }
  }
}

.search-form {
  width: 63%;
  display: block;
  margin: -2em auto 4em auto;
  padding: 1em 1em 2em 1em;
  border: 1px solid $text-body-color;
  border-radius: 4px;
  .search-title {
    color: $nav-bg-color;
  }
  .search {
    float: left;
    padding: 0.5em 1em 0 1em;
  }
  .search-button-wrapper {
    display: table;
    .search-button {
      display: table-cell;
      padding: 4em 0 0 4em;
    }
  }
}
