@import '_variables';

.container {
  margin-top: 5em;
  width: 100%;
  height: 100%;
}

@media (min-width: $break-zero) {
  .landing-page-content {
    margin: 20% 0 12.5% 0;
  }

  header blockquote {
    margin: 10% 0 15% 0;
  }

  .sign {
    width: 100%;
    a {
      text-decoration: none;
      color: $button-text-color;
      background-color: $button-bg-color;
      padding: 1em 2em;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      border: 1px solid $button-border-color;
    }
    a:hover {
      background-color: $button-bg-hover-color;
      color: $button-text-hover-color;
      .ion-chevron-right {
        color: $button-text-hover-color;
      }
    }
  }

  .sign-in {
    margin-right: 8%;
  }

  .success-stories h2 {
    width: 100%;
    background-color: $success-stories-bg-color;
    color: $success-stories-text-color;
  }

  .success-stories blockquote {
    margin: 0 5% 5% 5%;
    text-align: left;
    float: left;
  }

  .success-story {
    width: 100%;
    display: block;
  }

  .success-title {
    width: 100%;
    margin: 0 0 0 5%;
    img {
      float: left;
    }
    p {
      padding-left: 2%;
      padding-top: 2.2em;
      display: inline-block;
      text-align: left;
      float: left;
    }
  }

  .success-pic {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1.3em;
  }

}

@media (min-width: $break-small) {
  .landing-page-content {
    margin: 12.5% 0 15%;
  }

}

@media (min-width: $break-medium-small) {
  .success-story {
    width: 49%;
    display: inline-block;
  }

  header blockquote {
    margin: 9% 0 11% 0;
  }
}

@media (min-width: $break-medium-large) {
  .landing-page-content {
    margin: 12.5% 0 15%;
  }
}

@media (min-width: $break-large) {
  .landing-page-content {
    margin: 12.5% 0 12.5% 0;
  }

  header blockquote {
    margin: 8% 0 11% 0;
  }
}

@media (min-width: $break-xlarge) {
  .landing-page-content {
    margin: 10% 0 12.5% 0;
  }

  header blockquote {
    margin: 6% 0 8% 0;
  }
}
