@import '_variables';

.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: $nav-bg-color;
  color: $nav-text-color;
}
.nav ul {
  list-style: none;
  li {
    display: inline-block;
    vertical-align: middle;
  }
  li:hover {
    color: $button-text-hover-color;
    i:hover {
      color: $button-text-hover-color;
    }
  }
}

i {
  color: $font-awesome;
}
