<!DOCTYPE html>
<html>
<head>
  <title>Wigglez</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="../../assets/stylesheets/style.css">

</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
